video_prep/reagan/*
fis/*
video_prep/test/*
video_prep/dlib_models/*
video_prep/frontalization_models/*
audio_prep/out/*
audio_prep/test/*
audio_prep/mfccs/*
faces/*
out/*
is/*
video_prep/frontalized_faces/*
reagan
face_frontalization/*
ml_model/data/*
ml_model/save/*
ml_model/__pycache__/*
ml_model/data_wo_time_delay
ml_model/og_model_saves
ml_model/__pycache__/*
*.pyc
